<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="/css/main-page.css" rel="stylesheet">
</head>
<body>
<div class="main-container">
    <div class="button-container">
        <a href="/member" class="main-button">Save Member</a>
        <a href="/members" class="main-button">Search Member List</a>
        <a href="/news-mail" class="main-button">Write Post</a>
        <a href="/news-mails" class="main-button">Search Post List</a>
    </div>
</div>
</body>
</html>
