<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Member</title>
    <link href="/css/save-member.css" rel="stylesheet">
</head>
<body>
<div class="member-form-container">
    <form id="memberForm">
        <input type="text" id="nickname" placeholder="Nickname" required>
        <input type="email" id="email" placeholder="Email" required>
        <button type="submit">Submit</button>
    </form>
</div>

<script src="member.js"></script>
</body>
</html>
