<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member List</title>
    <link href="/css/members.css" rel="stylesheet">
</head>
<body>
<div class="member-container">
    <h2>Member List</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.name}">Name</td>
            <td th:text="${member.email}">Email</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
