<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Save Mail</title> <!-- Updated the title -->
    <link href="/css/save-mail.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="title">Save Mail</h1> <!-- Added an <h1> element for the title -->
    <form id="dataForm">
        <input type="text" id="title" placeholder="Enter Title" required>
        <textarea id="text" placeholder="Enter Text" required></textarea>
        <button type="submit">Save</button>
    </form>
</div>

<script th:src="@{/js/sendData.js}"></script>
</body>
</html>
